# =====================
# Go build artifacts
# =====================
bin/
build/
*.exe
*.log
*.out

# =====================
# Jet generated code
# =====================
/internal/generated/public/
/internal/generated/table/

# =====================
# Environment
# =====================
.env

# =====================
# Dependencies
# =====================
vendor/

# =====================
# IDE / OS
# =====================
.vscode/
.idea/
.DS_Store
